body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: rgba(36, 52, 67, 0.37);
  border-radius: 10px;
}
.custom-background {
  background-color: rgb(45, 60, 83);
}
.bgimg{
  background: url("/public/homebg.png");
  background-position: center;
  background-repeat: no-repeat;
}
.required::after {
  content: ' *';
  color: red;
}
input[disabled]{
  cursor: not-allowed;
}
textarea[disabled]{
  cursor: not-allowed;
}


/* checkbox */